[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "*"
nltk = "*"
numpy = "*"

[dev-packages]
pyside6 = "*"
nltk = "*"
ipykernel = "*"
numpy = "*"

[requires]
python_version = "3.11"
